extends ../layout

block content
  .row
    .col-sm-8
      .row
        .col-sm-8
          h4
            span(class="label label-default editableTitle" for="titleTextBox")
              if album.title
                span #{album.title}
              else
                span Click to Add Text
            input(value="" type="text" style="padding-down:10px;" id="titleTextBox" name="titleTextBox" class="blur" hidden)
        .col-sm-4
          button(class="btn btn-link playablebutton pull-right" onclick="window.location.href='/play/" + album._id + "'")
            span(class="glyphicon glyphicon-play-circle" style="font-size:2em;")
          button(class="btn btn-link pull-right" onclick="window.location.href='/creations'")
            span(class="glyphicon glyphicon-floppy-disk" style="font-size:2em;")


      div(class="row" style="padding-up:10px;")
        div(id='map' style='height: 65vh;')
    div(class="col-sm-4" style="min-height: 75vh")
      div(class="pre-scrollable" style="min-height: 75vh")
        ol(id="sortable")
          - var n = 0
          - var labels = 'ABCDEFGHIJKLMNOPQRSTUVWXYZ';
          while n < album.images.length
            - var image = album.images[n]

            li(class="list-group-item text-center" id=image.filename)
              .figure
                .figcaption
                  b (#{labels[n % labels.length]})
                  | #{image.filename}
                - n++
                img(src="data:image/jpeg;base64, " + image.thumbnail.toString('base64') style="max-width:100%;max-height:100%;")

              button(class="btn btn-default" style="margin:5px" onClick="setNewMarker('" + image.filename + "')")
                span(class="glyphicon glyphicon-pushpin")
              button(class="btn btn-default" style="margin:5px" onClick="removeFileFromAlbum('" + image.filename + "')")
                span(class="glyphicon glyphicon-remove")


  script(type='text/javascript').
      var album = !{JSON.stringify(album)};
      var _csrf = "#{_csrf}";
  script(type='text/javascript' src="../js/creationFrontend.js")
  //script(type='text/javascript' src='https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js' )
  script(type='text/javascript' src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBu_4PKulFGlZtAB10E-ekucVFzm2KzSxk&callback=initMap")
  script(type='text/javascript' src="http://rawgithub.com/rochal/jQuery-slimScroll/master/jquery.slimscroll.js")