extends ../layout

block content

  h3 Your Creations

  each album in albums
    .row
      .panel.panel-default.panel-body
          .col-md-4
            img(src="data:image/jpeg;base64, "+album.images[0].thumbnail.toString('base64'), class='img-responsive' style="margin: 0 auto")
          .col-md-4
              a(href='/creation/' + album._id, style='font-size:3em')
                  span(class='glyphicon glyphicon-edit').
                  |&nbsp; #{album.title}
          .col-xs-3.col-md-1
              if album.playable
                button(class="btn btn-link" onclick="window.location.href='/play/" + album._id + "'")
                  span(class="glyphicon glyphicon-play-circle" style="font-size:3em" data-toggle="tooltip" data-placement="top"
                  title="Play the Presentation")
              else
                button(class="btn btn-link" onclick="window.location.href='/play/" + album._id + "'" disabled)
                  span(class="glyphicon glyphicon-play-circle" style="font-size:3em" data-toggle="tooltip"
                  title="The album can´t be played as some Images do not possess a proper GPS-tag.")

          .col-xs-3.col-md-1
              if album.playable != true
                  button(class="btn btn-link text-error" disabled)
                      span(class="glyphicon glyphicon-share text-error" style="font-size:3em" data-toggle="tooltip" data-placement="top"
                      title="The album can´t be shared as some Images do not possess a proper GPS-tag.")
              else if album.shared
                  button(class="btn btn-link" onClick="copyToClipboardAndUpdateTooltips('"+album._id+"')")
                      span(id="share"+album._id class="glyphicon glyphicon-share text-success" style="font-size:3em;" data-toggle="tooltip"
                        title="Click to copy the Sharelink to clipboard")
              else
                form(action='/creation/share/' + album._id, method="POST", style="display: inline;")
                  input(type='hidden', name='_csrf', value=_csrf)
                  button(type="submit" value="submit" class="btn btn-link" onClick="copyToClipboardWithCurrentHref('"+album._id+"')")
                    span(class="glyphicon glyphicon-share" style="font-size:3em" data-toggle="tooltip" data-placement="top"
                    title="Share the Album publicly")

          .col-xs-3.col-md-1
              if album.shared != true
                  button(class="btn btn-link text-error" disabled)
                      span(class="glyphicon glyphicon-ban-circle text-error" style="font-size:3em" data-toggle="tooltip" data-placement="top"
                      title="The album can´t be unshared as it is not shared")
              else
                  form(action='/creation/unshare/' + album._id, method="POST", style="display: inline;")
                      input(type='hidden', name='_csrf', value=_csrf)
                      button(type="submit" value="submit" class="btn btn-link")
                          span(class="glyphicon glyphicon-ban-circle" style="font-size:3em" data-toggle="tooltip"
                          title="Unshare this album and all of its Images")


          .col-xs-3.col-md-1
            form(action='/creation/delete/' + album._id, method="POST", style="display: inline;")
              input(type='hidden', name='_csrf', value=_csrf)
              button(type="submit" value="submit" class="btn" style="box-shadow: none; background:none;")
                span(type="submit" value="submit" class="glyphicon glyphicon-remove" style="font-size:3em" data-toggle="tooltip" data-placement="top"
                title="Delete Album")

  .row
    a(href='/drive/images', style='color: #1565c0')
        button(class='btn btn-default btn-lg pull-right')
            span(class='glyphicon glyphicon-plus')




  script(type="text/javascript").
      $(document).ready(function () {
          $('[data-toggle="tooltip"]').tooltip({'placement': 'top'});
      });

      function copyToClipboardWithCurrentHref(id) {
          var copyText = window.location.href.split("/").slice(0,3).join("/")+"/play/"+id;
          const el = document.createElement('textarea');
          el.value = copyText;
          document.body.appendChild(el);
          el.select();
          document.execCommand('copy');
          document.body.removeChild(el);
      }

      function copyToClipboardAndUpdateTooltips (id) {
          copyToClipboardWithCurrentHref(id);
          $("#share" + id).attr("title", "Copied link to the shared Presentation to Clipboard")
              .tooltip("fixTitle")
              .tooltip("show");
      }
